<!doctype html>
<html lang="en">

<head>
  {% include_relative _layouts/headers/analytics.html %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>{{ page.title }}</title>

  {% include_relative _layouts/headers/favicon.html %}

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/base.css">

  {% for file in page.css %}
    <link rel="stylesheet" href="/css/{{ file }}.css">
  {% endfor %}
</head>

<body>
  <div class="container container-padding">
    {{ content }}
  </div>

  <footer>
    {% for file in page.js %}
      <script src='/js/{{ file }}.js' type="text/javascript"></script>
    {% endfor %}
  </footer>
</body>

</html>
