<nav class="page-nav">
  <div class="container">
    <ul class="unstyled">
      <li>
        <a href="/">me</a>
      </li>
      <li>
        <a href="/books.html">books</a>
      </li>
      <li>
        <a href="/cars.html">cars</a>
      </li>
      <li>
        <a href="//twitter.com/burritoregret" target="_blank">bad tweets</a>
      </li>
      <li>
        <a href="//instagram.com/gergesu/" target="_blank">bad pictures</a>
      </li>
      <li>
        <a href="//github.com/gesu" target="_blank">bad code</a>
      </li>
    </ul>
  </div>
</nav>
