<% pages = [
  {
    label: 'about',
    link: 'index.html',
    selected: current_page.data.active == 'index'
  },
  {
    label: 'books',
    link: 'books.html',
    selected: current_page.data.active == 'books'
  },
  {
    label: 'projects',
    link: 'projects.html',
    selected: current_page.data.active == 'projects'
  },
  {
    label: 'cars',
    link: 'cars.html',
    selected: current_page.data.active == 'cars'
  }
] %>

<nav class="page-nav">
  <div class="container">
    <ul class="unstyled">
      <% pages.each do |page| %>
        <li class="<%= 'selected' if page[:selected] %>">
          <%= link_to page[:label], page[:link] %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
