---
title: cars | gsu
---

<header class="masthead">
  <div class="container">
    <h1>
      A Website
    </h1>
  </div>
</header>

<%= partial "nav" %>

<div class="page-container">
  <h2>
    Cars
  </h2>
  <p>
    I own a 1984 Mercedes Benz 380SL (<%= link_to "wikipedia", "//en.wikipedia.org/wiki/Mercedes-Benz_R107_and_C107" %>). It's a great car but it's also 30+ years old so it requires some maintenance. If you're looking for technical docs on this car, here are the <%= link_to "official Mercedes Benz guides", "//www.startekinfo.com/StarTek/outside/11883/PROGRAM/84380sl.html" %>. There's a lot of good information in there, but it also has <em>the worst</em> site navigation I've ever seen.
  </p>

  <p>
    Here's some of the projects that I've done:
  </p>

  <p>
    <ul class="unstyled">
      <li>
        <%= link_to "Power Steering Pump Rebuild", "/power-steering-pump-rebuild.html" %>
      </li>
    </ul>
  </p>

</div>
