---
title: colophon | george su
---

<div class="container">
  <h2>
    Colophon
  </h2>
  <p>
    There's not much need for colophons on the web, but I think strange loops where the work references itself are pretty fascinating.
  </p>
  <p>
    The headings are in Futura and Open Sans. The body text is set in Georgia. These will almost definitely change in the future.
  </p>
  <p>
    Built with Middleman with regular ol' ERB, CSS, and vanilla JS.
  </p>
  <p>
    Made with ❤ on Earth.
  </p>
</div>
