---
title: about | george su
active: index
---

<div class="container">
  <h2>
    Hello,
  </h2>
  <p>
    I'm George. I'm a human from Earth interested in programming, information design, and films.
  </p>
  <p>
    I work at <%= link_to 'experiment.com', 'https://experiment.com' %> in San Francisco. I graduated from the University of Texas at Austin in 2013 with a BS in Electrical Engineering.
  </p>
  <p>
    Email: <%= mail_to 'george.x.su@gmail.com' %>
  </p>
  <p>
    <%= link_to "Colophon", "colophon.html" %>
  </p>
</div>
