---
title: gsu
---

<header class="masthead">
  <div class="container">
    <h1>
      A Website
    </h1>
  </div>
</header>

<%= partial "nav" %>

<div class="page-container">
  <h2>
    Hello,
  </h2>
  <p>
    I am George. I am 23 years old.
  </p>
  <p>
    <%= link_to "License and Colophon", "/license-and-colophon.html" %>
  </p>
</div>
