---
title: projects | george su
active: projects
---

<div class="container">
  <h2>Projects</h2>
  <p>
    This is a collection of stuff that I've done over the years. It includes both professional and personal work.
  </p>

  <h3>Experiment.com</h3>
  <p>
    I joined Experiment in 2013 as one of the first engineers after the founders completed YC. We're working on fixing science funding.
  </p>
  <%= image_tag 'pw-1.png', class: 'example-image' %>
  <%= image_tag 'pw-2.png', class: 'example-image' %>
  <%= image_tag 'pw-3.png', class: 'example-image' %>
</div>
